{% extends 'base.html' %}
{% block content %}
<h3>Data Adding</h3><br>
<form action='ad' method='POST'>
{% csrf_token %}
<table>
<tr><th>year</th><td> <input type='number' max='2019'min='1960' name='year'></td></tr>
<tr><th>name</th><td><input type='text' name='name'></td></tr>
<tr><th>phone number</th><td> <input type='tel'pattern="[7-9]{1}[0-9]{9}"name='tel'></td></tr></table>
<input type='submit' value='add'></form>

{% for message in messages %}
            <h3> {{message}}  </h3>
            {% endfor %}
{% endblock %}