{% extends 'base.html' %}
{% block content %}

<form action='updt' method='POST'>
{% csrf_token %}
<h3>update the phone no</h3><input type='submit' value='click here'></form><br><br>


<form action='updat' method='POST'>
{% csrf_token %}
<h3>update the name</h3><input type='submit' value='click here'></form><br><br>


<form action='delete' method='POST'>
{% csrf_token %}
<h3>Delete the name </h3><input type='submit' value='click here'></form><br><br>
{% for message in messages %}
            <h3> {{message}}  </h3>
            {% endfor %}
{% endblock %}